body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#fff;
}

header {
    background-color: #333;
    color:burlywood;
    padding: 40px;
    text-align: center;
    background-color: grey;

}

nav {
    background-color: #444;
    color: burlywood;
    padding: 10px;
    box-sizing: border-box;
    max-height: 30px;
    background-color: grey;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    
}

div {
    padding: 20px;
}

h1 {
    color: orange;
    text-align: center;
}
 h2{
    text-align: center;
    color: orange;
    font-style: italic;


}
footer {
    background-color: grey;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-sizing: content-box;
    margin: 10%;
    font-style: 20%;
}
#logo {
    width: 200px; 
    height: 200px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
    border: 4px solid #fff; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); 
    transition: all 0.3s ease-in-out;
    overflow: hidden; 
}

#logo img {
    max-width: 100%; 
    height: auto;
    border-radius: 50%; 
}
  .image-container {
    position: relative;
    }
    
    .thumbnails {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    }
    
    .thumbnail {
    width: 200px;
    height: 200px;
    margin: 0 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
    }
    
    .thumbnail:hover {
    transform: scale(1.3);
    }
    
    .card-container {
      display: flex; /* Display cards in a row */
      justify-content: space-between; /* Space evenly between cards */
      height: 30px;
      perspective: 200px; /* Added 'px' for perspective */
      position: relative;
      width: 300px; /* Double the width for two columns */
      padding-left: 600px;
    }
    
    .row {
      flex: 3; /* Each row takes equal space */
    }
    
    .card {
      height: 50%;
      position: relative; /* Changed from absolute */
      transform-style: preserve-3d;
      transition: all 1s ease-in-out;
      width: calc(50% - 5px); /* Adjusted width for two columns with spacing */
      margin-right: 20px; /* Added spacing between cards */
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .card:hover {
      transform: rotateY(180deg);
    }
    
    .card .side img, .card .side.back img {
      max-width: 100%; /* Limit image width */
      height: auto; /* Maintain aspect ratio */
    }
    
    .card .side {
      backface-visibility: hidden;
      height: 100%;
      position: absolute;
      width: 300%;
      padding-right: 400px;
    }
    
    .card .back {
      
      transform: rotateY(180deg);
    }
    #About Us{padding-top: 500px;

    }